In [1]:
import geopandas as gpd
from shapely.geometry import mapping
import pandas as pd
from shapely.geometry import Point

In [2]:
gdf_polygons = gpd.read_file('data/World_EEZ_v11_20191118/eez_v11.shp')
gdf_polygons

,MRGID,GEONAME,MRGID_TER1,POL_TYPE,MRGID_SOV1,TERRITORY1,ISO_TER1,SOVEREIGN1,MRGID_TER2,MRGID_SOV2,...,ISO_SOV1,ISO_SOV2,ISO_SOV3,UN_SOV1,UN_SOV2,UN_SOV3,UN_TER1,UN_TER2,UN_TER3,geometry
0,8444.0,American Samoa Exclusive Economic Zone,8670.0,200NM,2204.0,American Samoa,ASM,United States,0.0,0.0,...,USA,NaN,NaN,840,NaN,NaN,16.0,NaN,NaN,"POLYGON ((-166.64112 -17.55527, -166.64194 -17..."
1,8379.0,Ascension Exclusive Economic Zone,8620.0,200NM,2208.0,Ascension,SHN,United Kingdom,0.0,0.0,...,GBR,NaN,NaN,826,NaN,NaN,654.0,NaN,NaN,"POLYGON ((-10.93328 -7.88745, -10.93324 -7.889..."
2,8446.0,Cook Islands Exclusive Economic Zone,8672.0,200NM,2227.0,Cook Islands,COK,New Zealand,0.0,0.0,...,NZL,NaN,NaN,554,NaN,NaN,184.0,NaN,NaN,"POLYGON ((-159.27579 -5.80051, -158.38466 -6.3..."
3,8389.0,Overlapping claim Falkland / Malvinas Islands:...,8623.0,Overlapping claim,2208.0,Falkland / Malvinas Islands,FLK,United Kingdom,8623.0,2149.0,...,GBR,ARG,NaN,826,32.0,NaN,238.0,238.0,NaN,"POLYGON ((-58.54196 -56.22782, -61.62049 -53.7..."
4,8440.0,French Polynesian Exclusive Economic Zone,8656.0,200NM,17.0,French Polynesia,PYF,France,0.0,0.0,...,FRA,NaN,NaN,250,NaN,NaN,258.0,NaN,NaN,"MULTIPOLYGON (((-135.93245 -7.89001, -135.9290..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
276,5693.0,Spanish Exclusive Economic Zone,2185.0,200NM,2185.0,Spain,ESP,Spain,0.0,0.0,...,ESP,NaN,NaN,724,NaN,NaN,724.0,NaN,NaN,"MULTIPOLYGON (((4.54375 42.44867, 4.86147 42.0..."
277,62589.0,Chagos Archipelago Exclusive Economic Zone,8616.0,200 NM,8614.0,Chagos Archipelago,NaN,Mauritius,0.0,0.0,...,MUS,NaN,NaN,480,NaN,NaN,NaN,NaN,NaN,"POLYGON ((75.83452 -5.23039, 75.83260 -5.31997..."
278,8383.0,Overlapping claim South Georgia and South Sand...,8624.0,Overlapping claim,2208.0,South Georgia and the South Sandwich Islands,SGS,United Kingdom,8624.0,2149.0,...,GBR,ARG,NaN,826,32.0,NaN,239.0,239.0,NaN,"POLYGON ((-37.13953 -50.64608, -37.03619 -50.6..."
279,8402.0,Bermudian Exclusive Economic Zone,8636.0,200NM,2208.0,Bermuda,BMU,United Kingdom,0.0,0.0,...,GBR,NaN,NaN,826,NaN,NaN,60.0,NaN,NaN,"POLYGON ((-60.70499 32.39114, -60.70499 32.390..."
280,8456.0,United States Exclusive Economic Zone,2204.0,200NM,2204.0,United States,USA,United States,0.0,0.0,...,USA,NaN,NaN,840,NaN,NaN,840.0,NaN,NaN,"MULTIPOLYGON (((-67.28418 45.19126, -67.28403 ..."

In [3]:
df = pd.read_csv("data/lists-Reefers-2023-03-03_06-54.csv")
# df = df[['MMSI', 'Latitude', 'Longitude']]
# df = df.dropna()

In [4]:
df['coordinates'] = list(zip(df['Longitude'], df['Latitude']))
df['coordinates']

0         (11.668572, 57.577002)
1        (105.801953, -5.927718)
2       (-122.510783, 48.758683)
3        (122.446303, 36.883225)
4                  (199.0, 99.0)
                  ...
1859         (145.45, 42.718333)
1860      (133.192818, 35.74963)
1861    (-73.586935, -43.505577)
1862      (118.65124, 24.396132)
1863     (121.997692, 29.764608)
Name: coordinates, Length: 1864, dtype: object

In [5]:
df.coordinates = df.coordinates.apply(Point)
df.coordinates

0         POINT (11.668572 57.577002)
1        POINT (105.801953 -5.927718)
2       POINT (-122.510783 48.758683)
3        POINT (122.446303 36.883225)
4                      POINT (199 99)
                    ...
1859         POINT (145.45 42.718333)
1860      POINT (133.192818 35.74963)
1861    POINT (-73.586935 -43.505577)
1862      POINT (118.65124 24.396132)
1863     POINT (121.997692 29.764608)
Name: coordinates, Length: 1864, dtype: object

In [6]:
gdf_points = gpd.GeoDataFrame(df, geometry='coordinates')
gdf_points

,Antenna Offset from Bow,Antenna Offset from Port,Beam,Builder,Call Sign,Cargo Type,Class Society,COG,Beneficial Owner,Deadweight,...,Status,Sub Status,Subtype,Time of Fix (formatted),Time of Fix (s since 1970),Vessel Type,Year Built,Design Speed,Double Hull,coordinates
0,77.0,13.0,16.0,NaN,D5KN7,9-NoInfo,NaN,98.3,NaN,NaN,...,NaN,NaN,NaN,"""2022-06-06T15:14:15.000Z""",1654528455,7-Cargo,NaN,NaN,NaN,POINT (11.669 57.577)
1,0.0,0.0,0.0,Arie Taryo P,YB3789,0-AllShips,NaN,221.3,Indonesia,NaN,...,S,In Service/Commission,Fish Carrier,"""2023-01-31T21:51:28.000Z""",1675201888,30-Fishing,2014-12-25,0.0,NaN,POINT (105.802 -5.928)
2,119.0,6.0,23.0,Kitanihon,3FAF5,0-AllShips,Nippon Kaiji Kyokai,304.0,Japan,10608.0,...,S,In Service/Commission,Refrigerated Cargo Ship,"""2023-03-03T18:49:34.000Z""",1677869374,7-Cargo,2009-09-05,19.6,NaN,POINT (-122.511 48.759)
3,25.0,3.0,6.0,Rongcheng Haida Shipbuilding,BBFB7,5-Reserved,NaN,26.4,China,NaN,...,S,In Service/Commission,Fish Carrier,"""2021-05-13T23:50:53.000Z""",1620949853,7-Cargo,0000-00-00,0.0,SH,POINT (122.446 36.883)
4,NaN,NaN,NaN,Flensburger KG,NaN,NaN,Det Norske Veritas,0.0,Netherlands,10320.0,...,F,Launched,Ro-Ro Cargo Ship,"""2023-03-03T06:48:32.000Z""",1677826112,NaN,2022-06-17,20.0,NaN,POINT (199.000 99.000)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1859,56.0,5.0,11.0,Wakamatsu,UBMG8,0-AllShips,Russian Maritime Register,238.0,Russia,1056.0,...,S,In Service/Commission,Refrigerated Cargo Ship,"""2023-03-03T16:58:47.000Z""",1677862727,7-Cargo,1977-11-18,12.0,NaN,POINT (145.450 42.718)
1860,0.0,0.0,0.0,Watanabe Nagasaki,JD3401,0-AllShips,NaN,129.5,Japan,NaN,...,S,In Service/Commission,Fishing Vessel,"""2023-02-22T14:11:59.000Z""",1677075119,30-Fishing,2012-06-23,0.0,SH,POINT (133.193 35.750)
1861,14.0,5.0,12.0,Detroit Chile SA,CB9953,0-AllShips,NaN,211.2,Chile,1049.0,...,S,In Service/Commission,Fish Carrier,"""2023-03-03T18:27:00.000Z""",1677868020,7-Cargo,2007-08-10,0.0,SH,POINT (-73.587 -43.506)
1862,0.0,0.0,0.0,NaN,BVBR7,8-Reserved,NaN,223.7,NaN,NaN,...,NaN,NaN,NaN,"""2021-03-20T15:17:00.000Z""",1616253420,8-Tanker,NaN,NaN,NaN,POINT (118.651 24.396)
1863,92.0,7.0,16.0,Kyokuyo Shipyard Corp,HOAJ,0-AllShips,Nippon Kaiji Kyokai,311.0,South Korea,5609.0,...,S,In Service/Commission,Refrigerated Cargo Ship,"""2023-03-03T18:52:58.000Z""",1677869578,7-Cargo,1989-07-14,14.5,NaN,POINT (121.998 29.765)

In [7]:
gdf_points.crs = gdf_polygons.crs
gdf_points.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [8]:
gdf_polygons

,MRGID,GEONAME,MRGID_TER1,POL_TYPE,MRGID_SOV1,TERRITORY1,ISO_TER1,SOVEREIGN1,MRGID_TER2,MRGID_SOV2,...,ISO_SOV1,ISO_SOV2,ISO_SOV3,UN_SOV1,UN_SOV2,UN_SOV3,UN_TER1,UN_TER2,UN_TER3,geometry
0,8444.0,American Samoa Exclusive Economic Zone,8670.0,200NM,2204.0,American Samoa,ASM,United States,0.0,0.0,...,USA,NaN,NaN,840,NaN,NaN,16.0,NaN,NaN,"POLYGON ((-166.64112 -17.55527, -166.64194 -17..."
1,8379.0,Ascension Exclusive Economic Zone,8620.0,200NM,2208.0,Ascension,SHN,United Kingdom,0.0,0.0,...,GBR,NaN,NaN,826,NaN,NaN,654.0,NaN,NaN,"POLYGON ((-10.93328 -7.88745, -10.93324 -7.889..."
2,8446.0,Cook Islands Exclusive Economic Zone,8672.0,200NM,2227.0,Cook Islands,COK,New Zealand,0.0,0.0,...,NZL,NaN,NaN,554,NaN,NaN,184.0,NaN,NaN,"POLYGON ((-159.27579 -5.80051, -158.38466 -6.3..."
3,8389.0,Overlapping claim Falkland / Malvinas Islands:...,8623.0,Overlapping claim,2208.0,Falkland / Malvinas Islands,FLK,United Kingdom,8623.0,2149.0,...,GBR,ARG,NaN,826,32.0,NaN,238.0,238.0,NaN,"POLYGON ((-58.54196 -56.22782, -61.62049 -53.7..."
4,8440.0,French Polynesian Exclusive Economic Zone,8656.0,200NM,17.0,French Polynesia,PYF,France,0.0,0.0,...,FRA,NaN,NaN,250,NaN,NaN,258.0,NaN,NaN,"MULTIPOLYGON (((-135.93245 -7.89001, -135.9290..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
276,5693.0,Spanish Exclusive Economic Zone,2185.0,200NM,2185.0,Spain,ESP,Spain,0.0,0.0,...,ESP,NaN,NaN,724,NaN,NaN,724.0,NaN,NaN,"MULTIPOLYGON (((4.54375 42.44867, 4.86147 42.0..."
277,62589.0,Chagos Archipelago Exclusive Economic Zone,8616.0,200 NM,8614.0,Chagos Archipelago,NaN,Mauritius,0.0,0.0,...,MUS,NaN,NaN,480,NaN,NaN,NaN,NaN,NaN,"POLYGON ((75.83452 -5.23039, 75.83260 -5.31997..."
278,8383.0,Overlapping claim South Georgia and South Sand...,8624.0,Overlapping claim,2208.0,South Georgia and the South Sandwich Islands,SGS,United Kingdom,8624.0,2149.0,...,GBR,ARG,NaN,826,32.0,NaN,239.0,239.0,NaN,"POLYGON ((-37.13953 -50.64608, -37.03619 -50.6..."
279,8402.0,Bermudian Exclusive Economic Zone,8636.0,200NM,2208.0,Bermuda,BMU,United Kingdom,0.0,0.0,...,GBR,NaN,NaN,826,NaN,NaN,60.0,NaN,NaN,"POLYGON ((-60.70499 32.39114, -60.70499 32.390..."
280,8456.0,United States Exclusive Economic Zone,2204.0,200NM,2204.0,United States,USA,United States,0.0,0.0,...,USA,NaN,NaN,840,NaN,NaN,840.0,NaN,NaN,"MULTIPOLYGON (((-67.28418 45.19126, -67.28403 ..."

In [9]:
sjoin = gpd.sjoin(gdf_points, gdf_polygons, how='left', predicate='within')

In [10]:
df_join = pd.DataFrame(sjoin)
sjoin

,Antenna Offset from Bow,Antenna Offset from Port,Beam,Builder,Call Sign,Cargo Type,Class Society,COG,Beneficial Owner,Deadweight,...,AREA_KM2,ISO_SOV1,ISO_SOV2,ISO_SOV3,UN_SOV1,UN_SOV2,UN_SOV3,UN_TER1,UN_TER2,UN_TER3
0,77.0,13.0,16.0,NaN,D5KN7,9-NoInfo,NaN,98.3,NaN,NaN,...,155347.0,SWE,NaN,NaN,752.0,NaN,NaN,752.0,NaN,NaN
1,0.0,0.0,0.0,Arie Taryo P,YB3789,0-AllShips,NaN,221.3,Indonesia,NaN,...,6020917.0,IDN,NaN,NaN,360.0,NaN,NaN,360.0,NaN,NaN
2,119.0,6.0,23.0,Kitanihon,3FAF5,0-AllShips,Nippon Kaiji Kyokai,304.0,Japan,10608.0,...,2451023.0,USA,NaN,NaN,840.0,NaN,NaN,840.0,NaN,NaN
3,25.0,3.0,6.0,Rongcheng Haida Shipbuilding,BBFB7,5-Reserved,NaN,26.4,China,NaN,...,963556.0,CHN,NaN,NaN,156.0,NaN,NaN,156.0,NaN,NaN
4,NaN,NaN,NaN,Flensburger KG,NaN,NaN,Det Norske Veritas,0.0,Netherlands,10320.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1859,56.0,5.0,11.0,Wakamatsu,UBMG8,0-AllShips,Russian Maritime Register,238.0,Russia,1056.0,...,4066513.0,JPN,NaN,NaN,392.0,NaN,NaN,392.0,NaN,NaN
1860,0.0,0.0,0.0,Watanabe Nagasaki,JD3401,0-AllShips,NaN,129.5,Japan,NaN,...,4066513.0,JPN,NaN,NaN,392.0,NaN,NaN,392.0,NaN,NaN
1861,14.0,5.0,12.0,Detroit Chile SA,CB9953,0-AllShips,NaN,211.2,Chile,1049.0,...,2488052.0,CHL,NaN,NaN,152.0,NaN,NaN,152.0,NaN,NaN
1862,0.0,0.0,0.0,NaN,BVBR7,8-Reserved,NaN,223.7,NaN,NaN,...,963556.0,CHN,NaN,NaN,156.0,NaN,NaN,156.0,NaN,NaN
1863,92.0,7.0,16.0,Kyokuyo Shipyard Corp,HOAJ,0-AllShips,Nippon Kaiji Kyokai,311.0,South Korea,5609.0,...,963556.0,CHN,NaN,NaN,156.0,NaN,NaN,156.0,NaN,NaN

In [11]:
df_join

,Antenna Offset from Bow,Antenna Offset from Port,Beam,Builder,Call Sign,Cargo Type,Class Society,COG,Beneficial Owner,Deadweight,...,AREA_KM2,ISO_SOV1,ISO_SOV2,ISO_SOV3,UN_SOV1,UN_SOV2,UN_SOV3,UN_TER1,UN_TER2,UN_TER3
0,77.0,13.0,16.0,NaN,D5KN7,9-NoInfo,NaN,98.3,NaN,NaN,...,155347.0,SWE,NaN,NaN,752.0,NaN,NaN,752.0,NaN,NaN
1,0.0,0.0,0.0,Arie Taryo P,YB3789,0-AllShips,NaN,221.3,Indonesia,NaN,...,6020917.0,IDN,NaN,NaN,360.0,NaN,NaN,360.0,NaN,NaN
2,119.0,6.0,23.0,Kitanihon,3FAF5,0-AllShips,Nippon Kaiji Kyokai,304.0,Japan,10608.0,...,2451023.0,USA,NaN,NaN,840.0,NaN,NaN,840.0,NaN,NaN
3,25.0,3.0,6.0,Rongcheng Haida Shipbuilding,BBFB7,5-Reserved,NaN,26.4,China,NaN,...,963556.0,CHN,NaN,NaN,156.0,NaN,NaN,156.0,NaN,NaN
4,NaN,NaN,NaN,Flensburger KG,NaN,NaN,Det Norske Veritas,0.0,Netherlands,10320.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1859,56.0,5.0,11.0,Wakamatsu,UBMG8,0-AllShips,Russian Maritime Register,238.0,Russia,1056.0,...,4066513.0,JPN,NaN,NaN,392.0,NaN,NaN,392.0,NaN,NaN
1860,0.0,0.0,0.0,Watanabe Nagasaki,JD3401,0-AllShips,NaN,129.5,Japan,NaN,...,4066513.0,JPN,NaN,NaN,392.0,NaN,NaN,392.0,NaN,NaN
1861,14.0,5.0,12.0,Detroit Chile SA,CB9953,0-AllShips,NaN,211.2,Chile,1049.0,...,2488052.0,CHL,NaN,NaN,152.0,NaN,NaN,152.0,NaN,NaN
1862,0.0,0.0,0.0,NaN,BVBR7,8-Reserved,NaN,223.7,NaN,NaN,...,963556.0,CHN,NaN,NaN,156.0,NaN,NaN,156.0,NaN,NaN
1863,92.0,7.0,16.0,Kyokuyo Shipyard Corp,HOAJ,0-AllShips,Nippon Kaiji Kyokai,311.0,South Korea,5609.0,...,963556.0,CHN,NaN,NaN,156.0,NaN,NaN,156.0,NaN,NaN

In [12]:
result = df_join #[["MMSI", "Latitude", "Longitude", "MRGID_TER1", "TERRITORY1", "TERRITORY2","SOVEREIGN1", "SOVEREIGN2"]]

In [13]:
result.columns

Index(['Antenna Offset from Bow', 'Antenna Offset from Port', 'Beam',
       'Builder', 'Call Sign', 'Cargo Type', 'Class Society', 'COG',
       'Beneficial Owner', 'Deadweight', 'Destination', 'Design Draft',
       'Draft Present Load', 'ETA', 'Fishing Number', 'Flag', 'Gross Tonnage',
       'Heading', 'IMO Number', 'Last Port of Call', 'Latitude', 'Length',
       'Longitude', 'MMSI', 'Name', 'Navigation Status', 'Official Number',
       'Operator', 'Registered Owner', 'P And I Club', 'Port Of Registry',
       'Propulsion Type', 'Sat Com', 'Sat Com Ansbk Code', 'Ship Type',
       'Speed', 'Status', 'Sub Status', 'Subtype', 'Time of Fix (formatted)',
       'Time of Fix (s since 1970)', 'Vessel Type', 'Year Built',
       'Design Speed', 'Double Hull', 'coordinates', 'index_right', 'MRGID',
       'GEONAME', 'MRGID_TER1', 'POL_TYPE', 'MRGID_SOV1', 'TERRITORY1',
       'ISO_TER1', 'SOVEREIGN1', 'MRGID_TER2', 'MRGID_SOV2', 'TERRITORY2',
       'ISO_TER2', 'SOVEREIGN2', 'MRGID_TER3', 'MRGID_SOV3', 'TERRITORY3',
       'ISO_TER3', 'SOVEREIGN3', 'X_1', 'Y_1', 'MRGID_EEZ', 'AREA_KM2',
       'ISO_SOV1', 'ISO_SOV2', 'ISO_SOV3', 'UN_SOV1', 'UN_SOV2', 'UN_SOV3',
       'UN_TER1', 'UN_TER2', 'UN_TER3'],
      dtype='object')

In [14]:
df_join['ISO_TER1'].isna().mean()

0.3435155412647374

In [15]:
result.to_csv('data/current_location.csv')